table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
.tables{
    display: inline-block;
    float: left;
}
th {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
    line-height: 25px;
}

select {
    margin: 10px auto;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    padding: 12px 16px;
    border-radius: 100px;
    background: #daedfc;
}

button {
    margin: 10px auto;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    padding: 12px 16px;
    border-radius: 100px;
    background: #ccedfa;
}
button:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #b7ebfd;
}

input {
    margin: 10px auto;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    padding: 12px 16px;
    border-radius: 100px;
    background: #d5effc;
}