<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все продукты</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>
<body>
    <form action="/app/">
        <button type="submit">Вернуться в меню</button>
    </form>
    <h1>Списочек всех продуктов</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Название продукта</th>
            <th>Цвет</th>
            <th>Количество на складе</th>
            <th>Производитель</th>
            <th>Цена</th>
        </tr>

        <#list products as product>
            <tr>
                <td>${product.id}</td>
                <td>${product.nameOfProduct}</td>
                <td>${product.color}</td>
                <td>${product.amount}</td>
                <td>${product.producer}</td>
                <td>${product.price}</td>
            </tr>
        </#list>

    </table>
</body>
</html>